<div id="drop-target">Drop your files or folders (Chrome >= 21) here</div>

<div id="debug">No runtime found, your browser doesn't support HTML5 drag &amp; drop upload.</div>
<button id="btnUpload" class="btn btn-default">Upload</button>
@section scripts
{
    @*<script src="~/Scripts/plupload.js"></script>
        <script src="~/Scripts/plupload.html5.js"></script>*@
    <script src="~/Scripts/plupload/plupload.full.min.js"></script>
    <script type="text/javascript">
        // Custom example logic

        var uploader = new plupload.Uploader({
            runtimes: 'html5',
            drop_element: 'drop-target',
            browse_button: 'drop-target',
            max_file_size: '10mb',
            upload: "@Url.Action("Upload")"
        });
        uploader.bind('Init', function (up, params) {
            console.log('Firing init event');
            if (uploader.features.dragdrop) {
                $('#debug').html("");

                var target = $("drop-target");

                target.ondragover = function (event) {
                    event.dataTransfer.dropEffect = "copy";
                };

                target.ondragenter = function () {
                    this.className = "dragover";
                };

                target.ondragleave = function () {
                    this.className = "";
                };

                target.ondrop = function () {
                    this.className = "";
                };
            }
        });

        uploader.bind('FilesAdded', function (up, files) {
            console.log('firing FilesAdded event');
            for (var i in files) {
                var div = '<div id="' + files[i].id + '">- ' + files[i].relativePath + ' (' + plupload.formatSize(files[i].size) + ')</div>';
                $('#debug').append(div);
            }
        });
        $(document).ready(function () {
            $('#btnUpload').click(function () {
                alert("I'm going t upload");
            });
        });
        uploader.init();
    </script>
}